.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.thumb {
  padding: 4px;
  cursor: pointer;
  background: #fff;
  border: 2px solid #eee;
  display: inline-block;
}

.active {
  border: 2px solid orange;
}

.imgThumb {
  width: 60px;
  height: 60px;
  object-fit: cover;
  display: block;
}
.button {
  font-size: 20px;
  padding: 0 8px;
  height: 36px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 32px;
  background-color: #DDDDDD;
}
.bigImage {
  width: 600px;
  height: 600px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
